@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Movie browser for the Movies solution.</p>
    <a class="btn btn-primary" href="/Movies">Get started</a>
</div>
